.ExpandedPost {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.ExpandedPost img{
    width: 75%;
    height: 50%;
}

.ExpandedPost h6{
    color: white;
    text-shadow: 1px 1px gray;
}

.ExpandedPost h1{
    color: white;
    text-shadow: 1px 1px gray;
    text-align: center !important;
}

.ExpandedPost p{
    color: white;
    text-shadow: 1px 1px gray;
    
}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}